.autoComplete_wrapper {
  position: relative;
  display: inline-block;
}
.autoComplete_wrapper > input {
  width: 370px;
  height: 40px;
  padding-left: 20px;
  font-size: 1rem;
  color: rgba(123 123 123 / 50%);
  background-color: #f1f3f4;
  border: 0;
  border-radius: 8px;
  outline: 0;
  transition: all 0.3s ease;
}
.autoComplete_wrapper > input::placeholder {
  color: rgba(56 49 49 / "50%");
  transition: all 0.3s ease;
}
.autoComplete_wrapper > ul {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 1000;
  max-height: 226px;
  padding: 0;
  margin: 0.5rem 0 0;
  overflow-y: scroll;
  background-color: #ffffff;
  border: 1px solid rgba(33 33 33 / 7%);
  border-radius: 0.6rem;
  outline: 0;
  box-shadow: 0 3px 6px rgba(149 157 165 / 15%);
}
.autoComplete_wrapper > ul:empty,
.autoComplete_wrapper > ul[hidden] {
  display: block;
  opacity: 0;
  transform: scale(0);
}
.autoComplete_wrapper > ul > li {
  padding: 0.3rem 0.5rem;
  margin: 0.3rem;
  overflow: hidden;
  font-size: 1rem;
  color: #212121;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  list-style: none;
  background-color: #ffffff;
  border-radius: 0.35rem;
  transition: all 0.1s ease-in-out;
  transition: all 0.2s ease;
}
.autoComplete_wrapper > ul > li::selection {
  color: #212121;
  background-color: rgba(255 255 255 / 0%);
}
.autoComplete_wrapper > ul > li:hover {
  cursor: pointer;
  background-color: rgba(123 123 123 / 10%);
}
.autoComplete_wrapper > ul > li mark {
  font-weight: 700;
  color: #ff7a7a;
  background-color: rgba(0 0 0 / 0%);
}
.autoComplete_wrapper > ul > li mark::selection {
  color: rgba(255 255 255 / 0%);
  background-color: rgba(255 255 255 / 0%);
}
.autoComplete_wrapper > ul > li[aria-selected="true"] {
  background-color: rgba(123 123 123 / 10%);
}

@media only screen and (max-width<= 600px) {
  .autoComplete_wrapper > input {
    width: 18rem;
  }
}
