progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10px;
  appearance: none;
  background: rgb(0 0 0 / 0%);
  border: none;
}
progress::-webkit-progress-bar {
  background: rgb(0 0 0 / 0%);
}
progress::-webkit-progress-value {
  background: linear-gradient(to left, #db38b5, #01b3e3, #25ce7b, #fdc741, #ff6b01, #fc4236);
  background-attachment: fixed;
}
progress::-moz-progress-bar {
  background: linear-gradient(to left, #db38b5, #01b3e3, #25ce7b, #fdc741, #ff6b01, #fc4236);
  background-attachment: fixed;
}
