.navbar-nav .nav-item a {
  position: relative;
  display: inline-block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  transition-duration: 300ms;

  --text-opacity: 1;
}
.navbar-nav .nav-item.active a,
.navbar-nav .nav-item a:hover {
  color: #3182ce;
  color: rgb(49 130 206 / var(--text-opacity));

  --text-opacity: 1;
}
.navbar-nav .nav-item.active a::before,
.navbar-nav .nav-item.active a::after,
.navbar-nav .nav-item a:hover::before,
.navbar-nav .nav-item a:hover::after {
  opacity: 1;
}
.navbar-nav .nav-item a::after,
.navbar-nav .nav-item a::before {
  position: absolute;
  bottom: 0;
  width: 0.5rem;
  height: 0.25rem;
  content: "";
  background-color: #3182ce;
  background-color: rgb(49 130 206 / var(--bg-opacity));
  opacity: 0;
  transition-duration: 300ms;

  --bg-opacity: 1;
}
.navbar-nav .nav-item a::before {
  left: calc(70% - 20px);
}
.navbar-nav .nav-item a::after {
  left: calc(60% + 5px);
}
